# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [65]:
# Libraries
import pandas as pd
import numpy as np
from sklearn import preprocessing
%matplotlib inline

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [66]:
# your code here
admissions_predict = pd.read_csv('Admission_Predict.csv')
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [67]:
# your code here
names = list(admissions_predict.columns)
new_index = [x.strip() for x in names]
admissions_predict.columns = new_index
admissions_predict.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [35]:
# your code here
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [36]:
# your code here
nul_cols = admissions_predict.isnull().sum()
nul_cols

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [42]:
# your code here
admissions = admissions_predict.set_index('Serial No.')
admissions

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [50]:
# your code here
#admissions['GRE Score'].duplicated().any()
#admissions['CGPA'].duplicated().any()
admissions.groupby(['GRE Score', 'CGPA']).first()

                Serial No.  TOEFL Score  University Rating  SOP  LOR  \
GRE Score CGPA
290       7.46         118          104                  4  2.0  2.5
          7.56         378          100                  1  1.5  2.0
293       7.80         169           97                  2  2.0  4.0
294       7.36          80           93                  1  1.5  2.0
          7.64         273           95                  1  1.5  1.5
...                    ...          ...                ...  ...  ...
340       9.60          26          120                  5  4.5  4.5
          9.66         285          112                  4  5.0  4.5
          9.74         385          113                  4  5.0  5.0
          9.91         203          120                  5  4.5  4.5
          9.92         144          120                  4  4.5  4.0

                Research  Chance of Admit
GRE Score CGPA
290       7.46         0             0.45
          7.56         0             0.47
293       7.80         1             0.64
294       7.36         0             0.46
          7.64         0             0.49
...                  ...              ...
340       9.60         1             0.94
          9.66         1             0.94
          9.74         1             0.96
          9.91         1             0.97
          9.92         1             0.97

[385 rows x 7 columns]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [68]:
# your code here
admissions.reset_index(inplace=True)

In [69]:
admissions

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [58]:
# your code here
admissions.loc[admissions['CGPA'] > 9]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
12,13,328,112,4,4.0,4.5,9.10,1,0.78
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [59]:
# your code here
admissions.loc[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
32,33,338,118,4,3.0,4.5,9.40,1,0.91
66,67,327,114,3,3.0,3.0,9.02,0,0.61
147,148,326,114,3,3.0,3.0,9.11,1,0.83
229,230,324,111,4,3.0,3.0,9.01,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [115]:
#def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # Create numpy array with values ready for pre processing
    lambda[col : (col - np.mean(col)) / np.std(col)]
    
    standardize(CGPA)

SyntaxError: invalid syntax (<ipython-input-115-ea85e2d70c4a>, line 10)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [120]:
# your code here
admissions['CGPA_std'] = admissions[['CGPA']].apply(lambda col : (col - np.mean(col)) / np.std(col))
admissions['GRE_std'] = admissions[['GRE Score']].apply(lambda col : (col - np.mean(col)) / np.std(col))
admissions['LOR_std'] = admissions[['LOR']].apply(lambda col : (col - np.mean(col)) / np.std(col))
admissions.head()

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321,LOR_std
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321,LOR_std
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933,GRE_std
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454,LOR_std
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260,GRE_std

We will generate the decision choice at random using the code below. Please run the cell.

In [121]:
# Libraries
from random import choices

In [122]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [123]:
# your code here
admissions['deciding_column'] = decision_choice
#admissions.drop('decision_choice', axis=1, inplace=True)
admissions

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321,LOR_std
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321,GRE_std
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933,CGPA_std
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454,LOR_std
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260,LOR_std
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,0.740592,0.627656,0.052933,GRE_std
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,0.858126,0.714922,0.052933,GRE_std
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,1.429006,1.151249,1.167321,GRE_std
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.419528,0.610127,LOR_std
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,1.781609,1.413045,0.610127,GRE_std

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [137]:
# TA'S: CAN WE DISCUSS THIS ONE PLEASE, THANK YOU! 


#admissions['decision'] = admissions[['deciding_column']].apply(lambda x : admissions[[x]])
#admissions
#admissions['decision'] = admissions[['deciding_column']].apply(lambda str(row) : 1 if admissions[[str(row)]] > 0.8 else 0)

criteria_GRE = np.where((admissions['GRE_std'] > 0.8),1,0)
criteria_CGPA = np.where((admissions['CGPA_std'] > 0.8),1,0)
criteria_LOR = np.where((admissions['LOR_std'] > 0.8),1,0)
admissions["decision"] = np.where(admissions['deciding_column'] == "GRE_std",criteria_GRE, \
                                  np.where(admissions['deciding_column'] == "CGPA_std", criteria_CGPA,
                                           np.where(admissions['deciding_column'] == "LOR_std", criteria_LOR, 0)))
admissions

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321,LOR_std,1
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321,GRE_std,0
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933,CGPA_std,0
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454,LOR_std,0
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260,LOR_std,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,0.740592,0.627656,0.052933,GRE_std,0
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,0.858126,0.714922,0.052933,GRE_std,0
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,1.429006,1.151249,1.167321,GRE_std,1
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.419528,0.610127,LOR_std,0
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,1.781609,1.413045,0.610127,GRE_std,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [138]:
# your code here
admissions['decision'].sum()

86

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [189]:
# your code here
import re

admissions.columns = [col.replace('\W', '').replace(' ', '_').lower() for col in list(admissions.columns)]
admissions

,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
serial no.,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321,LOR_std,1
2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321,GRE_std,0
3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933,CGPA_std,0
4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454,LOR_std,0
5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260,LOR_std,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82,0.740592,0.627656,0.052933,GRE_std,0
397,325,107,3,3.0,3.5,9.11,1,0.84,0.858126,0.714922,0.052933,GRE_std,0
398,330,116,4,5.0,4.5,9.45,1,0.91,1.429006,1.151249,1.167321,GRE_std,1
399,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.419528,0.610127,LOR_std,0
400,333,117,4,5.0,4.0,9.66,1,0.95,1.781609,1.413045,0.610127,GRE_std,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [191]:
# your code here
admissions['adjusted_gre'] = np.where(admissions['university_rating'] >= 4, admissions['gre_score'] + 10, admissions['gre_score'])
admissions

,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
serial no.,,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321,LOR_std,1,347
2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321,GRE_std,0,334
3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933,CGPA_std,0,316
4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454,LOR_std,0,322
5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260,LOR_std,0,314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82,0.740592,0.627656,0.052933,GRE_std,0,324
397,325,107,3,3.0,3.5,9.11,1,0.84,0.858126,0.714922,0.052933,GRE_std,0,325
398,330,116,4,5.0,4.5,9.45,1,0.91,1.429006,1.151249,1.167321,GRE_std,1,340
399,312,103,3,3.5,4.0,8.78,0,0.67,0.304036,-0.419528,0.610127,LOR_std,0,312
400,333,117,4,5.0,4.0,9.66,1,0.95,1.781609,1.413045,0.610127,GRE_std,1,343

In [198]:
labels = [1,2,3,4]
admissions['bins'] = pd.cut(admissions["adjusted_gre"], bins = 4, labels=labels)

In [199]:
admissions.head(60)

,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre,bins
serial no.,,,,,,,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1.764818,1.762107,1.167321,LOR_std,1,347,4
2,324,107,4,4.0,4.5,8.87,1,0.76,0.455151,0.627656,1.167321,GRE_std,0,334,3
3,316,104,3,3.0,3.5,8.00,1,0.72,-1.005631,-0.070467,0.052933,CGPA_std,0,316,2
4,322,110,3,3.5,2.5,8.67,1,0.80,0.119339,0.453126,-1.061454,LOR_std,0,322,3
5,314,103,2,2.0,3.0,8.21,0,0.65,-0.653029,-0.244998,-0.504260,LOR_std,0,314,2
6,330,115,5,4.5,3.0,9.34,1,0.90,1.244310,1.151249,-0.504260,CGPA_std,1,340,4
7,321,109,3,3.0,4.0,8.20,1,0.75,-0.669819,0.365860,0.610127,GRE_std,0,321,3
8,308,101,2,3.0,4.0,7.90,0,0.68,-1.173537,-0.768590,0.610127,GRE_std,0,308,2
9,302,102,1,2.0,1.5,8.00,0,0.50,-1.005631,-1.292182,-2.175842,LOR_std,0,302,1
10,323,108,3,3.5,3.0,8.60,0,0.45,0.001805,0.540391,-0.504260,GRE_std,0,323,3
11,325,106,3,3.5,4.0,8.40,1,0.52,-0.334007,0.714922,0.610127,LOR_std,0,325,3
12,327,111,4,4.0,4.5,9.00,1,0.84,0.673429,0.889453,1.167321,GRE_std,1,337,4
13,328,112,4,4.0,4.5,9.10,1,0.78,0.841335,0.976718,1.167321,GRE_std,1,338,4
14,307,109,3,4.0,3.0,8.00,1,0.62,-1.005631,-0.855855,-0.504260,LOR_std,0,307,2
15,311,104,3,3.5,2.0,8.20,1,0.61,-0.669819,-0.506794,-1.618648,GRE_std,0,311,2
16,314,105,3,3.5,2.5,8.30,0,0.54,-0.501913,-0.244998,-1.061454,GRE_std,0,314,2
17,317,107,3,4.0,3.0,8.70,0,0.66,0.169711,0.016799,-0.504260,GRE_std,0,317,2
18,319,106,3,4.0,3.0,8.00,1,0.65,-1.005631,0.191329,-0.504260,GRE_std,0,319,2
19,318,110,3,4.0,3.0,8.80,0,0.63,0.337617,0.104064,-0.504260,LOR_std,0,318,2
20,303,102,3,3.5,3.0,8.50,0,0.62,-0.166101,-1.204917,-0.504260,LOR_std,0,303,1
21,312,107,3,3.0,2.0,7.90,1,0.64,-1.173537,-0.419528,-1.618648,CGPA_std,0,312,2
22,325,114,4,3.0,2.0,8.40,0,0.70,-0.334007,0.714922,-1.618648,CGPA_std,0,335,3
23,328,116,5,5.0,5.0,9.50,1,0.94,1.512959,0.976718,1.724515,GRE_std,1,338,4
24,334,119,5,5.0,4.5,9.70,1,0.95,1.848771,1.500310,1.167321,GRE_std,1,344,4
25,336,119,5,4.0,3.5,9.80,1,0.97,2.016677,1.674841,0.052933,LOR_std,0,346,4
26,340,120,5,4.5,4.5,9.60,1,0.94,1.680865,2.023903,1.167321,CGPA_std,1,350,4
27,322,109,5,4.5,3.5,8.80,0,0.76,0.337617,0.453126,0.052933,LOR_std,0,332,3
28,298,98,2,1.5,2.5,7.50,1,0.44,-1.845161,-1.641244,-1.061454,GRE_std,0,298,1
29,295,93,1,2.0,2.0,7.20,0,0.46,-2.348879,-1.903040,-1.618648,CGPA_std,0,295,1
30,310,99,2,1.5,2.0,7.30,0,0.54,-2.180973,-0.594059,-1.618648,CGPA_std,0,310,2
31,300,97,2,3.0,3.0,8.10,1,0.65,-0.837725,-1.466713,-0.504260,CGPA_std,0,300,1
32,327,103,3,4.0,4.0,8.30,1,0.74,-0.501913,0.889453,0.610127,CGPA_std,0,327,3
33,338,118,4,3.0,4.5,9.40,1,0.91,1.345053,1.849372,1.167321,LOR_std,1,348,4
34,340,114,5,4.0,4.0,9.60,1,0.90,1.680865,2.023903,0.610127,CGPA_std,1,350,4
35,331,112,5,4.0,5.0,9.80,1,0.94,2.016677,1.238514,1.724515,GRE_std,1,341,4
36,320,110,5,5.0,5.0,9.20,1,0.88,1.009241,0.278595,1.724515,CGPA_std,1,330,3
37,299,106,2,4.0,4.0,8.40,0,0.64,-0.334007,-1.553979,0.610127,CGPA_std,0,299,1
38,300,105,1,1.0,2.0,7.80,0,0.58,-1.341443,-1.466713,-1.618648,LOR_std,0,300,1
39,304,105,1,3.0,1.5,7.50,0,0.52,-1.845161,-1.117652,-2.175842,CGPA_std,0,304,1
40,307,108,2,4.0,3.5,7.70,0,0.48,-1.509349,-0.855855,0.052933,LOR_std,0,307,2
41,308,110,3,3.5,3.0,8.00,1,0.46,-1.005631,-0.768590,-0.504260,GRE_std,0,308,2
42,316,105,2,2.5,2.5,8.20,1,0.49,-0.669819,-0.070467,-1.061454,CGPA_std,0,316,2
43,313,107,2,2.5,2.0,8.50,1,0.53,-0.166101,-0.332263,-1.618648,GRE_std,0,313,2
44,332,117,4,4.5,4.0,9.10,0,0.87,0.841335,1.325780,0.610127,CGPA_std,1,342,4
45,326,113,5,4.5,4.0,9.40,1,0.91,1.345053,0.802187,0.610127,LOR_std,0,336,4
46,322,110,5,5.0,4.0,9.10,1,0.88,0.841335,0.453126,0.610127,GRE_std,0,332,3
47,329,114,5,4.0,5.0,9.30,1,0.86,1.177147,1.063983,1.724515,CGPA_std,1,339,4
48,339,119,5,4.5,4.0,9.70,0,0.89,1.848771,1.936637,0.610127,CGPA_std,1,349,4
49,321,110,3,3.5,5.0,8.85,1,0.82,0.421570,0.365860,1.724515,LOR_std,1,321,3
50,327,111,4,3.0,4.0,8.40,1,0.78,-0.334007,0.889453,0.610127,LOR_std,0,337,4
51,313,98,3,2.5,4.5,8.30,1,0.76,-0.501913,-0.332263,1.167321,LOR_std,1,313,2
52,312,100,2,1.5,3.5,7.90,1,0.56,-1.173537,-0.419528,0.052933,LOR_std,0,312,2
53,334,116,4,4.0,3.0,8.00,1,0.78,-1.005631,1.500310,-0.504260,CGPA_std,0,344,4
54,324,112,4,4.0,2.5,8.10,1,0.72,-0.837725,0.627656,-1.061454,LOR_std,0,334,3
55,322,110,3,3.0,3.5,8.00,0,0.70,-1.005631,0.453126,0.052933,CGPA_std,0,322,3
56,320,103,3,3.0,3.0,7.70,0,0.64,-1.509349,0.278595,-0.504260,LOR_std,0,320,2
57,316,102,3,2.0,3.0,7.40,0,0.64,-2.013067,-0.070467,-0.504260,GRE_std,0,316,2
58,298,99,2,4.0,2.0,7.60,0,0.46,-1.677255,-1.641244,-1.618648,CGPA_std,0,298,1
59,300,99,1,3.0,2.0,6.80,1,0.36,-3.020504,-1.466713,-1.618648,LOR_std,0,300,1
60,311,104,2,2.0,2.0,8.30,0,0.42,-0.501913,-0.506794,-1.618648,CGPA_std,0,311,2