# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [66]:
# Import libraries 
import pandas as pd
import numpy as np

In [77]:
# your code here
tictactoe = pd.read_csv('tic-tac-toe.csv')
tictactoe

    TL TM TR ML MM MR BL BM BR  class
0    x  x  x  x  o  o  x  o  o   True
1    x  x  x  x  o  o  o  x  o   True
2    x  x  x  x  o  o  o  o  x   True
3    x  x  x  x  o  o  o  b  b   True
4    x  x  x  x  o  o  b  o  b   True
..  .. .. .. .. .. .. .. .. ..    ...
953  o  x  x  x  o  o  o  x  x  False
954  o  x  o  x  x  o  x  o  x  False
955  o  x  o  x  o  x  x  o  x  False
956  o  x  o  o  x  x  x  o  x  False
957  o  o  x  x  x  o  o  x  x  False

[958 rows x 10 columns]

In [78]:
# Using SciKit Learn
from sklearn.preprocessing import LabelEncoder

columns = ['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR']

# Encoding make column using LabelEncoder
for column in columns:
    labelencoder = LabelEncoder()
    tictactoe[column] = labelencoder.fit_transform(tictactoe[column])

# Viewing few rows of make and its encoded columns
tictactoe.sample(20)

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
773   1   2   2   0   1   0   0   2   1  False
120   2   1   2   2   0   0   2   1   1   True
814   1   1   1   2   2   0   2   2   1  False
448   1   0   2   0   2   1   2   1   2   True
86    2   2   1   1   2   2   1   2   1   True
720   2   0   1   2   1   2   1   1   2  False
71    2   2   2   0   0   1   1   1   2   True
220   2   1   0   0   2   0   1   0   2   True
161   2   1   1   2   1   0   2   2   0   True
421   1   1   0   0   0   0   2   2   2   True
521   0   2   0   1   2   0   1   2   0   True
796   1   2   0   1   1   2   1   2   2  False
668   2   2   0   1   1   1   0   2   0  False
251   2   0   1   2   1   0   2   2   1   True
186   2   1   1   0   0   1   2   2   2   True
111   2   2   0   0   2   1   1   2   1   True
378   1   1   2   2   1   1   2   2   2   True
574   0   1   1   0   1   2   2   2   2   True
584   0   1   0   1   1   2   2   2   2   True
634   2   2   1   2   1   0   1   2   1  False

In [79]:
list(labelencoder.classes_)

['b', 'o', 'x']

In [85]:
tictactoe['class'] = tictactoe['class'].astype(int)
tictactoe

import tensorflow as tf

tictactoe_norm = tf.keras.utils.normalize(tictactoe[columns], axis=1)
tictactoe_norm = tictactoe_norm.join(tictactoe['class'].astype(int))
tictactoe_norm

,TL,TM,TR,ML,MM,MR,BL,BM,BR,class
0,0.408248,0.408248,0.408248,0.408248,0.204124,0.204124,0.408248,0.204124,0.204124,1
1,0.408248,0.408248,0.408248,0.408248,0.204124,0.204124,0.204124,0.408248,0.204124,1
2,0.408248,0.408248,0.408248,0.408248,0.204124,0.204124,0.204124,0.204124,0.408248,1
3,0.458831,0.458831,0.458831,0.458831,0.229416,0.229416,0.229416,0.000000,0.000000,1
4,0.458831,0.458831,0.458831,0.458831,0.229416,0.229416,0.000000,0.229416,0.000000,1
...,...,...,...,...,...,...,...,...,...,...
953,0.204124,0.408248,0.408248,0.408248,0.204124,0.204124,0.204124,0.408248,0.408248,0
954,0.204124,0.408248,0.204124,0.408248,0.408248,0.204124,0.408248,0.204124,0.408248,0
955,0.204124,0.408248,0.204124,0.408248,0.204124,0.408248,0.408248,0.204124,0.408248,0
956,0.204124,0.408248,0.204124,0.204124,0.408248,0.408248,0.408248,0.204124,0.408248,0
957,0.204124,0.204124,0.408248,0.408248,0.408248,0.204124,0.204124,0.408248,0.408248,0

In [75]:
from sklearn.preprocessing import OneHotEncoder

columns = ['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR']

result_columns = []
for col in columns:
    result_columns.append('b'+col)
    result_columns.append('o'+col)
    result_columns.append('x'+col)

# Creating instance of one-hot-encoder
enc = OneHotEncoder(categories='auto') # drop first to decrease multicollinearity , drop='first' doesn't work(?)

# Encode values 
feature_arr = enc.fit_transform(tictactoe[columns]).toarray()
feature_labels = enc.categories_
feature_labels = np.array(feature_labels).ravel()
encoded_df = pd.DataFrame(feature_arr, columns=result_columns) # Create dataframe again
encoded_df

# merge with class column
tictactoe_enc = encoded_df.join(tictactoe['class'].astype(int))
tictactoe_enc

,bTL,oTL,xTL,bTM,oTM,xTM,bTR,oTR,xTR,bML,...,bBL,oBL,xBL,bBM,oBM,xBM,bBR,oBR,xBR,class
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0
954,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0
955,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0
956,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0
957,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [87]:
from sklearn.model_selection import train_test_split

# Split the data 80-20 for training - test purposes
X = tictactoe_enc.drop("class",axis=1).to_numpy() 
y = tictactoe_enc["class"].to_numpy()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [132]:
X_train.shape

(766, 27)

In [140]:
import tensorflow as tf

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten(input_shape=(27,)))
model.add(tf.keras.layers.Dense(560, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(560, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation=tf.nn.sigmoid))

model.compile(optimizer='Adam',
              loss='sparse_categorical_crossentropy', 
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=10)

Train on 766 samples
Epoch 1/10
766/766 [==============================] - 1s 720us/sample - loss: 0.5753 - acc: 0.6997
Epoch 2/10
766/766 [==============================] - 0s 236us/sample - loss: 0.4285 - acc: 0.7846
Epoch 3/10
766/766 [==============================] - 0s 250us/sample - loss: 0.2269 - acc: 0.9256
Epoch 4/10
766/766 [==============================] - 0s 252us/sample - loss: 0.1183 - acc: 0.9648
Epoch 5/10
766/766 [==============================] - ETA: 0s - loss: 0.0690 - acc: 0.978 - 0s 257us/sample - loss: 0.0685 - acc: 0.9791
Epoch 6/10
766/766 [==============================] - 0s 249us/sample - loss: 0.0377 - acc: 0.9935
Epoch 7/10
766/766 [==============================] - 0s 324us/sample - loss: 0.0182 - acc: 0.9974
Epoch 8/10
766/766 [==============================] - 0s 242us/sample - loss: 0.0093 - acc: 1.0000
Epoch 9/10
766/766 [==============================] - 0s 273us/sample - loss: 0.0066 - acc: 1.0000
Epoch 10/10
766/766 [==============================] - 0s 256us/sample - loss: 0.0050 - acc: 1.0000

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [141]:
# your code here
val_loss, val_acc = model.evaluate(X_test, y_test)

192/192 [==============================] - 0s 2ms/sample - loss: 0.0843 - acc: 0.9844

In [142]:
# Save the model 
model.save('tictactoe_model.h5')

In [143]:
# Load model
tictactoe_model = tf.keras.models.load_model('tictactoe_model.h5')

In [145]:
predictions = tictactoe_model.predict([X_test])
print(np.argmax(predictions[0]))

0

In [146]:
y_test[0]

0

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [ ]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here